@import './object.scss';
@import './effect.scss';

.chart-container {
   @include backgroundfullsize();
    @include marginX;
    @include ConstWidth();
    background-color: $backGround-element;
    @include drt_colum();
   @include paddingY();
   border-radius: 20px;
   &:hover{
    animation: shake 2s infinite ;
    }

}
.token-area{
    height: auto;
    margin-bottom: $bottom-sm;

}

