@import './object.scss';
@include reset-df();

.header {
	height: $top-lg;
	border-bottom: $border-background-dark;
	background: $backGround-dark;
	@include drt_row();
}

.header-left {
	width: 0.5*$full-width;
	padding-left: $mg-left-sm;
    @include drt_row();
}

.header-left .logo-team {
	font-size: $font-size-sm;
	color: $color-font-4;
    font-weight: $font-weight4;
	width: $full-width*0.33;
}

.header-left .list-header {
  width: $total-width;
  @include drt_row();
  @include sm-font-3();
}
.header-left .list-header li{
	margin-right: $mg-right-sm;
}
.header-left .list-header li:hover{
	color:$color-font-8;
}
.header-right{
	 @include drt_row_end();
    width: 0.5*$full-width;
    margin-right: 0.01*$full-width;
    height: 100%
}
.logo{
   @include avatar-sm();
}
.info-header{
	@include drt_col_start();
	cursor: pointer;
    height: 100%;

}
.info-header p{
     font-size: 20px;
	 font-weight: 600;
	 color: $color-font-9;
     margin-left: 10px;
}
.info-header .title{
    margin-bottom: 5px;
	color: $color-font-4;
	font-size: $font-size-sm-2;
	font-weight: $font-weight;
}
