@import './object.scss';


.form-Member {
    @include drt_colum();
    width: $full-width;
    margin-bottom: $bottom-lg;
}


.content-member {
  @include drt_row();
  @include wrap_row_1();
    @include backgroundfullsize();
    @include ConstWidth();

}

.member {
    @include drt_colum();
    width:$full-width*0.3;
    margin-bottom: $bottom-sm;
    margin-top: $top-sm;
    &:hover{
        animation: shake 2.5s infinite ;
    }

}

.name-member {
    font-size: $font-size-md*0.8;
    font-weight: $font-weight2;
    line-height: $top-sm*1.5;
    color: $color-font-7;
}

.des-member {
    @include sm-font-3();
}

.form-partner {
    width: $full-width;
    @include drt_colum();
}



.list-partner {
    @include drt_row();
    width: $full-width;
    height: 2*$bottom-lg;
    margin-bottom:$bottom-lg;
}

.list-pn-content {
    @include drt_row();
    width: calc((1/3)*$full-width + 10px);
}

.pn-name {
     @include sm-font();
}

.pn-logo {
  @include avatar-md-2();
  margin-right:0.4*$mg-right-sm ;
}
